---
import MainLayout from "../layouts/MainLayout.astro";
import PostHeader from "../components/BlogPostHeader.astro";
import CategoryCloud from "../components/CategoryCloud.astro";
import { formatBlogPosts } from "../scripts/utils";
import RelatedPosts from "../components/RelatedPosts.astro";

const { frontmatter } = Astro.props;
const { title, description, date, category, author, image, robots } =
  frontmatter;

const allPosts = await Astro.glob("../pages/blog/*.md");
const formattedPosts = formatBlogPosts(allPosts, {
  filterOutDrafts: false,
  filterOutFuturePosts: false,
  sortByDate: false,
});
const relatedPosts = formattedPosts
  .filter(
    (fpost) =>
      fpost.frontmatter.category === category &&
      fpost.frontmatter.title !== title
  )
  .slice(0, 3);
---

<MainLayout {title} {description} {frontmatter} {image} {robots}>
  <PostHeader {...{ title, date, category, author, image }} />

  <div class="post-content">
    <div class="content">
      <slot />
    </div>
    <div class="sidebar">
      <aside class="container" aria-label="Blog categories">
        <h3 class="h3">Blog Categories</h3>
        <CategoryCloud />
      </aside>
      {
        relatedPosts.length > 0 && (
          <aside class="container" aria-label="Related posts">
            <h3 class="h3">Related Posts</h3>
            <RelatedPosts {relatedPosts} />
          </aside>
        )
      }
    </div>
  </div>
</MainLayout>
